.wraper {
  width: 90%;
  max-width: 80rem;
  margin: var(--size-8) auto;
}
.wraper h2 {
  font-size: var(--size-16);
  color: var(--color-grey-800);
  text-align: center;
}
.wraper ul {
  padding-inline-start: 0;
}
